
* {
    padding: 0;
    margin: 0;
  }

a {
  text-decoration: none;
}
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  ol,
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

/*=========== Top bar ============ */
.top-bar {
    padding: 50px 0 0 0;
  }
  .inner-page .top-bar {
    padding: 44px 0 0;
    position: relative;
    z-index: 99;
  }
  .top-bar .navigation ul li a {
    font-size: 16px;
    font-weight: 600;
    color: #080808;
    margin-right: 24px;
    padding: 14px 16px;
  }
  .top-bar .navigation ul li:last-child a {
    border: 1px solid #342b38;
    border-radius: 4px;
    margin-right: 0;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }
  .top-bar .navigation ul li:last-child a:hover {
    background-color: #342b38;
    color: #fff;
  }












.about-main-container{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
height: 100%;
}
.main-container{
  width: 100%; 
  max-width: 1100px;
}
.first-row{
    margin-top: 50px;

   margin: 70px auto;
   width: 100%;
   height: 100%;


}

.color-grey{
color: rgb(14, 14, 14);
margin-top: -2px;

}
.first-row-left-img{
height: 500px;
border-radius: 10px;
    width: 100%;
}
.bold{
  font-weight: 700;
}
 @media (min-width: 880px) {
  .color-grey {
    color: grey;
    margin-top: -11px;
}
.first-row-text-box{
margin: 20px 0px;
padding: 20px 50px;
}
.margin-top-h1{
  margin-top: 50px;
}
} 



#circle-flex-clm{
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 50%; text-align: center;
}
#circle-flex-clm img{

  border-radius: 50%;
height: 100px;
  width: 100px;
}


.center-title-text-last{
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 80px 0 0 0;
  font-weight: 800;
}

.center-title-text{
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  font-weight: 800;
}
.radius-dark-btn{
  padding: 20px 60px 21px;
  max-width: 360px;
  height: 63px;
  background: #342b38;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 65px;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  margin: 15px 0 0 0;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.radius-dark-btn:hover{    background: #ff9595;
  border: 0;
}














/*=========== Footer ============ */
.footer {
  background-color: #080808;
  padding: 50px 0 50px 0;
  width: 100%;
  margin-top: 50px;
}
.call-now {
  flex-direction: column;
  display: flex;
}
.call-now p {
  font-weight: 400;
  font-size: 24px;
  line-height: 7px;
  color: #ffffff;
}
.call-now a {
  font-weight: 800;
  font-size: 24px;
  color: #ffffff;
}
.top-footer {
  padding-bottom: 95px;
  max-width: 65%;
}
.bottom-footer
{
  max-width: 100%;
 
}

.bottom-footer h5 {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 48px;
}
.bottom-footer ul li a {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
.bottom-footer ul li {
  margin-bottom: 20px;
}
.social-media {
  margin-top: 25px;
}
.social-media img {
  margin-right: 24px;
}


@media only screen and (max-width: 430px) {

  .first-row-left-img {
    height: 375px;
    border-radius: 10px;
    width: 100%;
}

}

@media only screen and (max-width: 340px) {


  .top-bar .navigation ul li:last-child a {
    border: 1px solid #342b38;
    border-radius: 4px;
    margin-right: 0;
    font-size:10px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

}























/* responsive-------------- */
/* responsive-------------- */
/* responsive-------------- */
/* responsive-------------- */

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
      max-width: 1110px;
    }
  }

/* responsive-------------- */
/* responsive-------------- */
/* responsive-------------- */
/* responsive-------------- */ #footer-logo{
    max-width: 150px;
  }